#app-welcome-page-container {
  header {
    padding: 20vh 0;
  }

  .info-block {
    padding: 10vh 10vw;
  }

  .ads-icon {
    text-align: center;
    font-size: 20vw;
  }

  .bg-grey-1 {
    background-color: 1px solid #adadad;
  }

  .bg-grey-2 {
    background-color: 1px solid #fbfbfb;
  }

  .bg-white {
    background-color: white;
  }
}